<div class="container-form">
    <div class="header">
        <h1 mat-dialog-title>Register new employee</h1>
    </div>

    <form class="form" [formGroup]="form" autocomplete="off">
        <div class="container">

            <div style="padding: 3px;" fxFlex="100">
                <mat-form-field class="w-100" appearance="outline" [style.width.px]=250>
                    <mat-label>First Last Name</mat-label>
                    <input matInput type="text" placeholder="First Last Name" formControlName="firstLastName"
                        (keyup)="generateEmail()">
                    <mat-error *ngIf="form.get('firstLastName')?.hasError('required')">
                        This field is required.
                    </mat-error>
                    <mat-error
                        *ngIf="firstLastNameRequired?.invalid && !form.get('firstLastName')?.hasError('required') && !form.get('firstLastName')?.hasError('pattern')">
                        This field cannot exceed 20 characters.
                    </mat-error>
                    <mat-error
                        *ngIf="firstLastNameRequired?.invalid && !form.get('firstLastName')?.hasError('required') && !form.get('firstLastName')?.hasError('maxLength')">
                        This field has invalid characters.
                    </mat-error>
                </mat-form-field>
            </div>

            <div style="padding: 3px;" fxFlex="100">
                <mat-form-field class="w-100" appearance="outline" [style.width.px]=250>
                    <mat-label>Second Last Name</mat-label>
                    <input matInput type="text" placeholder="Second Last Name" formControlName="secondLastName">
                    <mat-error *ngIf="form.get('secondLastName')?.hasError('required')">
                        This field is required.
                    </mat-error>
                    <mat-error
                        *ngIf="secondLastNameRequired?.invalid && !form.get('secondLastName')?.hasError('required') && !form.get('secondLastName')?.hasError('pattern')">
                        This field cannot exceed 20 characters.
                    </mat-error>
                    <mat-error
                        *ngIf="secondLastNameRequired?.invalid && !form.get('secondLastName')?.hasError('required') && !form.get('secondLastName')?.hasError('maxLength')">
                        This field has invalid characters.
                    </mat-error>
                </mat-form-field>
            </div>

            <div style="padding: 3px;" fxFlex="100">
                <mat-form-field class="w-100" appearance="outline" [style.width.px]=250>
                    <mat-label>First Name</mat-label>
                    <input matInput type="text" placeholder="First Name" formControlName="firstName"
                        (keyup)="generateEmail()">
                    <mat-error *ngIf="form.get('firstName')?.hasError('required')">
                        This field is required.
                    </mat-error>
                    <mat-error
                        *ngIf="firstNameRequired?.invalid && !form.get('firstName')?.hasError('required') && !form.get('firstName')?.hasError('pattern')">
                        This field cannot exceed 20 characters.
                    </mat-error>
                    <mat-error
                        *ngIf="firstNameRequired?.invalid && !form.get('firstName')?.hasError('required') && !form.get('firstName')?.hasError('maxLength')">
                        This field has invalid characters.
                    </mat-error>

                </mat-form-field>
            </div>

            <div style="padding: 3px;" fxFlex="100">
                <mat-form-field class="w-100" appearance="outline" [style.width.px]=250>
                    <mat-label>Other names</mat-label>
                    <input matInput type="text" placeholder="Other names" formControlName="otherNames">
                    <mat-error *ngIf="form.get('otherNames')?.hasError('maxLength')">
                        This field cannot exceed 50 characters.
                    </mat-error>
                    <mat-error
                        *ngIf="otherNamesRequired?.invalid && !form.get('maxLength')?.hasError('required') && !form.get('firstName')?.hasError('maxLength')">
                        This field has invalid characters.
                    </mat-error>
                </mat-form-field>
            </div>

            <div style="padding: 3px;" fxFlex="100">
                <mat-form-field class="w-100" appearance="outline" [style.width.px]=250>
                    <mat-label>Country of employment</mat-label>
                    <mat-select placeholder="Country of employment" formControlName="countryOfEmployment"
                        (selectionChange)="generateEmail()">
                        <mat-option *ngFor="let item of countrys" [value]="item.id">
                            {{ item.value }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="form.get('countryOfEmployment')?.hasError('required')">
                        This field is required.
                    </mat-error>
                </mat-form-field>
            </div>

            <div style="padding: 3px;" fxFlex="100">
                <mat-form-field class="w-100" appearance="outline" [style.width.px]=250>
                    <mat-label>Document Type</mat-label>
                    <mat-select placeholder="Document Type" formControlName="idType">
                        <mat-option *ngFor="let item of documentsTypes" [value]="item.id">
                            {{ item.value }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="form.get('idType')?.hasError('required')">
                        This field is required.
                    </mat-error>
                </mat-form-field>
            </div>

            <div style="padding: 3px;" fxFlex="100">
                <mat-form-field class="w-100" appearance="outline" [style.width.px]=250>
                    <mat-label>ID Number</mat-label>
                    <input matInput type="text" placeholder="ID number" formControlName="idNumber">
                    <mat-error *ngIf="form.get('idNumber')?.hasError('required')">
                        This field is required.
                    </mat-error>
                    <mat-error
                        *ngIf="IdNumberRequired?.invalid && !form.get('idNumber')?.hasError('required') && !form.get('idNumber')?.hasError('pattern')">
                        This field cannot exceed 20 characters.
                    </mat-error>
                    <mat-error
                        *ngIf="IdNumberRequired?.invalid && !form.get('idNumber')?.hasError('required') && !form.get('idNumber')?.hasError('maxLength')">
                        This field has invalid characters.
                    </mat-error>
                </mat-form-field>
            </div>

            <div style="padding: 3px;" fxFlex="100">
                <mat-form-field class="w-100" appearance="outline" [style.width.px]=250>
                    <mat-label>Email</mat-label>
                    <input readonly matInput type="email" placeholder="Email" formControlName="email">
                    <mat-error *ngIf="form.get('email')?.hasError('required')">
                        This field is required.
                    </mat-error>
                    <mat-error
                        *ngIf="emailRequired?.invalid && !form.get('email')?.hasError('required') && !form.get('email')?.hasError('pattern')">
                        This field cannot exceed 300 characters.
                    </mat-error>
                    <mat-error
                        *ngIf="emailRequired?.invalid && !form.get('email')?.hasError('required') && !form.get('email')?.hasError('maxLength')">
                        This field has invalid characters.
                    </mat-error>
                </mat-form-field>
            </div>

            <div style="padding: 3px;" fxFlex="100">
                <mat-form-field appearance="outline" class="w-80" [style.width.px]=250>
                    <mat-label>Start Date</mat-label>
                    <input matInput [matDatepicker]="start_date" formControlName="startDate"
                        (dateChange)="validateStartDate($event.value)">
                    <mat-datepicker-toggle matSuffix [for]="start_date"></mat-datepicker-toggle>
                    <mat-datepicker #start_date></mat-datepicker>
                    <mat-error *ngIf="form.get('startDate')?.hasError('required')">
                        This field is required.
                    </mat-error>
                </mat-form-field>
            </div>


            <div style="padding: 3px;" fxFlex="100">
                <mat-form-field class="w-100" appearance="outline" [style.width.px]=250>
                    <mat-label>Area</mat-label>
                    <mat-select placeholder="Area" formControlName="area">
                        <mat-option *ngFor="let item of areas" [value]="item.id">
                            {{ item.value }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="form.get('area')?.hasError('required')">
                        This field is required.
                    </mat-error>
                </mat-form-field>
            </div>

            <div style="padding: 3px;" fxFlex="100" style="align-self: flex-start;">
                <mat-slide-toggle [disabled]="true" [checked]="true" formControlName="state" color="primary">State:
                    active
                </mat-slide-toggle>
            </div>

            <div style="padding: 3px;" fxFlex="100">
                <mat-form-field appearance="outline" class="w-80" appearance="outline" [style.width.px]=250>
                    <mat-label>Register Date</mat-label>
                    <input [disabled]="true" matInput [matDatepicker]="register_date" formControlName="registerDate">
                    <mat-datepicker-toggle matSuffix [for]="register_date"></mat-datepicker-toggle>
                    <mat-datepicker #register_date></mat-datepicker>
                    <mat-error *ngIf="form.get('registerDate')?.hasError('required')">
                        This field is required.
                    </mat-error>
                </mat-form-field>
            </div>
            <div mat-dialog-actions>
                <div fxLayout="row" fxLayoutAlign="space-between center" class="w-100">
                    <button mat-raised-button color="warn" type="button" mat-dialog-close>Close</button>
                    <button mat-raised-button color="primary" (click)="saveNewEmployee()"
                        [disabled]="!this.form.valid">Save</button>
                </div>
            </div>
        </div>

    </form>
</div>