<div class="p-1" style="padding-top: 20px;">
    <mat-card class="p-0">
        <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="w-100 p-2">
            <div style="display: flex; flex-direction: row; width: 100%;">
                <div style="width: 20%;">
                    <h2>List Employees</h2>
                </div>
                <form [formGroup]="formEmployee" (ngSubmit)="getDataList(pageEvent)" autocomplete="off">
                    <div fxFlex="100" fxLayoutAlign="row">

                        <mat-form-field class="w-100" style="margin-right: 10px;">
                            <mat-label>First Name</mat-label>
                            <input matInput type="text" placeholder="First Name" formControlName="firstName"
                                (keyup.enter)="getDataList()">
                        </mat-form-field>

                        <mat-form-field class="w-100" style="margin-right: 10px;">
                            <mat-label>Other Names</mat-label>
                            <input matInput type="text" placeholder="Other Names" formControlName="otherNames"
                                (keyup.enter)="getDataList()">
                        </mat-form-field>

                        <mat-form-field class="w-100" style="margin-right: 10px;">
                            <mat-label>First Last Name</mat-label>
                            <input matInput type="text" placeholder="First Last Name" formControlName="firstLastName"
                                (keyup.enter)="getDataList()">
                        </mat-form-field>

                        <mat-form-field class="w-100" style="margin-right: 10px;">
                            <mat-label>Second Last Name</mat-label>
                            <input matInput type="text" placeholder="Second Last Name" formControlName="secondLastName"
                                (keyup.enter)="getDataList()">
                        </mat-form-field>

                        <mat-form-field class="w-100" style="margin-right: 10px;">
                            <mat-label>ID type</mat-label>
                            <input matInput type="text" placeholder="ID Type" formControlName="idType"
                                (keyup.enter)="getDataList()">
                        </mat-form-field>

                        <mat-form-field class="w-100" style="margin-right: 10px;">
                            <mat-label>ID Number</mat-label>
                            <input matInput type="text" placeholder="Id Number" formControlName="IdNumber"
                                (keyup.enter)="getDataList()">
                        </mat-form-field>

                        <mat-form-field class="w-100" style="margin-right: 10px;">
                            <mat-label>Country of employment</mat-label>
                            <mat-select placeholder="Country of employment" formControlName="countryOfEmployment"
                                (selectionChange)="getDataList()">
                                <mat-option *ngFor="let item of countrys" [value]="item.id">
                                    {{ item.value }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="w-100" style="margin-right: 10px;">
                            <mat-label>Email</mat-label>
                            <input matInput type="text" placeholder="Email" formControlName="email"
                                (keyup.enter)="getDataList()">
                        </mat-form-field>

                            <mat-slide-toggle formControlName="state" color="primary">State
                            </mat-slide-toggle>

                    </div>
                </form>
                <div style="display:flex; justify-content: flex-end; height: 50%; width: 20%; align-self: flex-end;">
                    <button mat-raised-button color="primary" style="margin: 10px;" (click)="getDataList()">Search</button>
                    <button mat-raised-button color="primary" style="margin: 10px;" (click)="clean()">Clean</button>
                    <button mat-raised-button color="primary" style="margin: 10px;"
                    (click)="registerEmployee()">Register Employee <mat-icon>add</mat-icon></button>
                </div>
            </div>
        </div>
        <mat-divider></mat-divider>
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" style="margin-top: 40px;">
                <!-- First Last Name Column -->
                <ng-container matColumnDef="firstLastName">
                    <th mat-header-cell *matHeaderCellDef>First Last Name</th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.firstLastName }}
                    </td>
                </ng-container>

                <!-- Second Last Name Column -->
                <ng-container matColumnDef="secondLastName">
                    <th mat-header-cell *matHeaderCellDef>Second Last Name</th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.secondLastName }}
                    </td>
                </ng-container>

                <!-- First Name Column -->
                <ng-container matColumnDef="firstName">
                    <th mat-header-cell *matHeaderCellDef>First Name</th>
                    <td mat-cell *matCellDef="let element">{{ element.firstName }}</td>
                </ng-container>

                <!-- Other Names Column -->
                <ng-container matColumnDef="otherNames">
                    <th mat-header-cell *matHeaderCellDef>Other Names</th>
                    <td mat-cell *matCellDef="let element">{{ element.otherNames }}</td>
                </ng-container>

                <!-- Country Of Employment Column -->
                <ng-container matColumnDef="countryOfEmployment">
                    <th mat-header-cell *matHeaderCellDef>Country Of Employment</th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.countryOfEmployment }}
                    </td>
                </ng-container>

                <!-- ID Type Column -->
                <ng-container matColumnDef="idType">
                    <th mat-header-cell *matHeaderCellDef>ID Type</th>
                    <td mat-cell *matCellDef="let element">{{ element.idType }}</td>
                </ng-container>

                <!-- ID Number Column -->
                <ng-container matColumnDef="IdNumber">
                    <th mat-header-cell *matHeaderCellDef>ID Number</th>
                    <td mat-cell *matCellDef="let element">{{ element.idNumber }}</td>
                </ng-container>

                <!-- Email Column -->
                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef>Email</th>
                    <td mat-cell *matCellDef="let element">{{ element.email }}</td>
                </ng-container>

                <!-- Start Date Column -->
                <ng-container matColumnDef="startDate">
                    <th mat-header-cell *matHeaderCellDef>Start Date</th>
                    <td mat-cell *matCellDef="let element">{{ element.startDate | date : 'medium'}}</td>
                </ng-container>

                <!-- Area Column -->
                <ng-container matColumnDef="area">
                    <th mat-header-cell *matHeaderCellDef>Area</th>
                    <td mat-cell *matCellDef="let element">{{ element.area }}</td>
                </ng-container>

                <!-- State Column -->
                <ng-container matColumnDef="state">
                    <th mat-header-cell *matHeaderCellDef>State</th>
                    <td mat-cell *matCellDef="let element">{{ element.state }}</td>
                </ng-container>

                <!-- Register Date Column -->
                <ng-container matColumnDef="registerDate">
                    <th mat-header-cell *matHeaderCellDef>Register Date</th>
                    <td mat-cell *matCellDef="let element">{{ element.registerDate | date : 'medium' }}</td>
                </ng-container>

                <!-- Actions Column -->
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>Actions</th>
                    <td mat-cell *matCellDef="let element">
                        <div style="display: flex; flex-direction: row;">
                            <button mat-icon-button color="primary" matTooltip="Edit" (click)="editEmployee(element)">
                                <mat-icon>edit
                                </mat-icon>
                            </button>

                            <button mat-icon-button color="warn" matTooltip="Delete"
                                (click)="deleteEmployee(element.id)">
                                <mat-icon>delete
                                </mat-icon>
                            </button>
                        </div>

                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
        </div>
    </mat-card>
    <mat-card class="p-0 text-center" style="height: 20%;">
        <mat-paginator [length]="total" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
            (page)="getDataList($event)"></mat-paginator>
    </mat-card>
</div>