<router-outlet></router-outlet> <!-- Index router outlet-->
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px',fullScreenBackdrop:true }"></ngx-loading> <!--Loading spinner global-->