<h1 mat-dialog-title>{{data?.title}}</h1>

<div mat-dialog-content>
    <p [innerHTML]="data?.message"></p>
</div>

<div mat-dialog-actions>
    <div fxLayout="row" fxLayoutAlign="space-between center" class="w-100">
        <button mat-raised-button color="warn" (click)="onDismiss()" *ngIf="isConfirm === false">No</button>
        <button mat-raised-button color="primary" (click)="onConfirm()" *ngIf="isConfirm === false">Yes</button>
        <button mat-raised-button color="primary" (click)="onConfirm()" *ngIf="isConfirm === true">Ok</button>
    </div>
</div>